<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <ul>
      <li> <a href="/pizza-orders/new"> Order a Pizza</a></li>
      <li> <a href="/pizza-orders">Pizza Orders</a> </li>
      <li> <a href="/about-us"> About us</a></li>
      <li> <a href="/contact"> Contact</a></li>
    </ul>
  </nav>
  <%= yield %>
  <img class="heroimage" src="/pizza.jpeg" alt="A tasty pizza">
</body>
</html>
