<form method="post" action="/pizza-orders" >
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" />
  <!-- name must match method name in models -->
  <label for="last-name">Last Name:</label>
  <input id="last-name"type="text" name="last_name" />
  <label for="pizza-select">Select a pizza:</label>
  <select id="pizza-select" name="topping">
    <option value="Margherita">Margherita</option>
    <option value="Italian Sausage">Italian Sausage</option>
    <!-- value creates value in hash key/value pair -->
  </select>
  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity" />

  <input type="submit" value="Order Pizza" />
</form>
